<h1>Listing experiences</h1>

<table>
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Job title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiences.each do |experience| %>
  <tr>
    <td><%= experience.start_time %></td>
    <td><%= experience.end_time %></td>
    <td><%= experience.job_title %></td>
    <td><%= experience.description %></td>
    <td><%= link_to 'Show', experience %></td>
    <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
    <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experience', new_experience_path %>
