<div class="cv_form">
<%= form_for(@cv) do |f| %>
  <%= hidden_field_tag :user_id, @user.id %>
  <div class="field">
    <%= f.label :about %><br />
    <%= f.text_field :about %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email %>
  </div>
  <%= f.fields_for :experiences do |builder| %>
    <%= render 'experiences/new', f: builder,  :locals => {:val => 0}%>
  <% end %>
  <div class="actions">
    <%= f.submit "Add CV"%>
  </div>
<% end %>
</div>
