<h1>Listing cvs</h1>

<table>
  <tr>
    <th>About</th>
    <th>Phone number</th>
    <th>Contact email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cvs.each do |cv| %>
  <tr>
    <td><%= cv.about %></td>
    <td><%= cv.phone_number %></td>
    <td><%= cv.contact_email %></td>
    <td><%= link_to 'Show', cv %></td>
    <td><%= link_to 'Edit', edit_cv_path(cv) %></td>
    <td><%= link_to 'Destroy', cv, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cv', new_cv_path %>
